USE [master]
GO
/****** Object:  Database [FastFood]    Script Date: 09/08/2020 13:04:56 ******/
CREATE DATABASE [FastFood]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FastFood', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FastFood.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FastFood_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FastFood_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FastFood].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FastFood]
GO
/****** Object:  Table [dbo].[Artikli]    Script Date: 09/08/2020 13:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artikli](
	[ArtikalID] [int] IDENTITY(1,1) NOT NULL,
	[imeArtikla] [varchar](50) NULL,
	[cijena] [decimal](18, 2) NULL,
	[tipArtikla] [int] NULL,
 CONSTRAINT [PK_Artikli] PRIMARY KEY CLUSTERED 
(
	[ArtikalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 09/08/2020 13:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[KorisnikID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NOT NULL,
	[fullname] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[role] [varchar](50) NULL,
 CONSTRAINT [PK_Korisnik] PRIMARY KEY CLUSTERED 
(
	[KorisnikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Narudzba]    Script Date: 09/08/2020 13:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Narudzba](
	[NarudzbaID] [bigint] IDENTITY(1,1) NOT NULL,
	[brojNarudzbe] [varchar](50) NULL,
	[KorisnikID] [int] NULL,
	[nacinPlacanja] [varchar](50) NULL,
	[nacinIsporuke] [varchar](50) NULL,
	[ukupanIznos] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Narudzba] PRIMARY KEY CLUSTERED 
(
	[NarudzbaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkeNarudzbe]    Script Date: 09/08/2020 13:04:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkeNarudzbe](
	[StavkeNarudzbeID] [bigint] IDENTITY(1,1) NOT NULL,
	[NarudzbaID] [bigint] NULL,
	[ArtikalID] [int] NULL,
	[Kolicina] [int] NULL,
 CONSTRAINT [PK_StavkeNarudzbe] PRIMARY KEY CLUSTERED 
(
	[StavkeNarudzbeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Narudzba]  WITH CHECK ADD  CONSTRAINT [FK_Narudzba_Korisnik] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([KorisnikID])
GO
ALTER TABLE [dbo].[Narudzba] CHECK CONSTRAINT [FK_Narudzba_Korisnik]
GO
ALTER TABLE [dbo].[StavkeNarudzbe]  WITH CHECK ADD  CONSTRAINT [FK_StavkeNarudzbe_Artikli] FOREIGN KEY([ArtikalID])
REFERENCES [dbo].[Artikli] ([ArtikalID])
GO
ALTER TABLE [dbo].[StavkeNarudzbe] CHECK CONSTRAINT [FK_StavkeNarudzbe_Artikli]
GO
ALTER TABLE [dbo].[StavkeNarudzbe]  WITH CHECK ADD  CONSTRAINT [FK_StavkeNarudzbe_Narudzba] FOREIGN KEY([NarudzbaID])
REFERENCES [dbo].[Narudzba] ([NarudzbaID])
GO
ALTER TABLE [dbo].[StavkeNarudzbe] CHECK CONSTRAINT [FK_StavkeNarudzbe_Narudzba]
GO
USE [master]
GO
